<?xml version="1.0" encoding="utf-8"?>

<robot name="task4_no_pinger" xmlns:xacro="http://www.ros.org/wiki/xacro">
	
  <link name="base_link">
    <inertial>
      <origin
        xyz="0 0 0.31877"
        rpy="0 0 0" />
      <mass
        value="12.525" />
      <inertia
        ixx="0.8346"
        ixy="0"
        ixz="0"
        iyy="0.01322"
        iyz="0"
        izz="0.3" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uwv_env/meshes/sauvc_pool/task4_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uwv_env/meshes/sauvc_pool/task4_base.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="base_link">
		<material>
			Gazebo/Yellow
		</material>
  </gazebo>
	
</robot>
