<?xml version="1.0" encoding="utf-8"?>

<robot name="task4_ball" xmlns:xacro="http://www.ros.org/wiki/xacro">
	
  <link name="base_link">
    <inertial>
      <origin
        xyz="0 0.02 0"
        rpy="0 0 0" />
      <mass
        value="0.073553" />
      <inertia
        ixx="1.1442E-05"
        ixy="0"
        ixz="0"
        iyy="1.1408E-05"
        iyz="0"
        izz="1.1442E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uwv_env/meshes/sauvc_pool/task4_ball_visual.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.98824 0.98431 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uwv_env/meshes/sauvc_pool/task4_ball_collision.STL" />
      </geometry>
    </collision>
  </link>

</robot>

